body.dashboard {
   background-image: url(/img/grey-pattern.png);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

   h1 {
      font-size: 30px;
   }
   h2 {
      text-align: left;
      font-size: 18px;
      font-weight: 600;
   }
   .category {
      margin-bottom: 50px;
   }
   .head {
      background-color: white;

      h2 {
         margin: 30px 0;
      }
   }
   .panel {
      height: 100%;
      width: 100%;
      background-color: white;
      margin: 40px auto;
      padding-bottom: 50px;
      box-sizing: border-box;
      box-shadow: 0 2px 2px rgba(0,0,0,.05);

      &:not(.with-alert) {
         padding-top: 50px;
      }
      &.with-alert .nav-wrapper {
         margin-bottom: 0;
      }

      h1 {
         text-align: center;
         padding-top: 0;
         margin-bottom: 40px;
      }
      h2 {
         font-weight: 400;
         margin-bottom: 30px;
      }
      h4 {
         font-size: 14px;
         color: $grey;
         margin-bottom: 10px;
      }

      section:not(:last-child) {
         margin-bottom: 50px;
      }

      .container {
         padding: 0 70px;

         @media screen and (max-width: 1200px) {
            padding: 0 40px;
         }
         @media screen and (max-width: 1024px) {
            padding: 0 20px;
         }
      }

      nav {
         text-align: center;
         border-bottom: 1px solid $grey-light;

         a {
            display: inline-block;
            font-size: 12px;
            padding: 30px 18px 25px 18px;
         }

         @media screen and (max-width: 1024px) {
            a {
               padding-left: 15px;
               padding-right: 15px;
            }
         }
      }
   }

   .project-header {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      border: 0;
      z-index: 0;

      nav {
         vertical-align: top;

         a {
            position: relative;
            float: left;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 12px;

            &:after {
               content: '';
               position: absolute;
               bottom: 0;
               left: 0;
               right: 0;
               height: 5px;
               border-radius: 2.5px;
               background-color: $blue;
               opacity: 0;
               @include transition(opacity 200ms);
            }

            &:hover, &.active {
               color: $blue;
            }
            &.active:after { opacity: 1; }
         }

      }

      .logo {
         font-weight: 700;
         line-height: 80px;

         p, .logo-project {
            display: inline-block;
         }

         p {
            font-size: 12px;
            line-height: 1.2em;
            vertical-align: middle;
            margin-right: 20px;
            margin-bottom: 0;
            width: calc(100% - 80px);

            .match-name {
               display: inline-block;
               font-weight: 500;
               text-overflow: ellipsis;
               overflow: hidden;
               white-space: nowrap;
               max-width: 100%;

               .project {
                  font-weight: 700;
                  color: $red-dark;
               }
            }

            a {
               font-size: 10px;
            }
         }
         .logo-project {
            position: relative;
            width: 50px;
            height: 50px;
            line-height: 52px;
            text-align: center;
            background-color: $red-dark;
            border-radius: 50%;

            &:before {
               content: '';
               position: absolute;
               border: 1px solid $red-dark;
               top: -4px;
               left: -4px;
               right: -4px;
               bottom: -4px;
               border-radius: 50%;
               box-sizing: border-box;
            }
            span {
               font-size: $font-small;
               text-align: center;
               color: white;
            }
         }
      }
   }

   .alert, .error {
      font-weight: 500;
      color: white;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 50px;

      p {
         margin: 10px 0;
      }
      input[type=submit] {
         font-weight: 700;
      }
   }
   .alert {
      background-color: $orange-light;
   }
   .error {
      background-color: $red-light;
   }

   .back-button {
      font-size: $font-small;
      font-weight: 700;
      text-transform: uppercase;
      color: $grey;

      &:hover {
         color: $grey-light;
      }
   }

   .shadow-box {
      border: 1px solid $grey-light;
      border-radius: $border-radius;
      padding: 20px;
      margin-bottom: 40px;

      a { text-align: center; }
      h3 {
         font-size: 14px;
         font-weight: 600;
         color: $blue;
         line-height: 1.2em;
         margin-bottom: 5px;
      }
      h4 {
         font-size: 12px;
         font-weight: 400;
         text-transform: none;
      }

      &.selected {
         border-color: $blue;
      }

      &.selectable {
         cursor: pointer;
         @include transition(all 150ms);

         &:hover {
            box-shadow: $blue-shadow;
            &:not(.selected) {
               border-color: white;
            }
         }
      }
   }

   @media screen and (max-width: 1024px) {
      .panel {
         margin: 30px auto;
      }
      .container {
         padding: 0 10px;
      }
   }
   @media screen and (max-width: 800px) {
      .panel {
         nav a {
            padding-top: 20px;
            padding-bottom: 15px;

            &:after {
               display: none;
            }
         }
      }

      .project-header {
         text-align: center;

         nav a {
            line-height: 60px;
         }

         .logo {
            text-align: center;
            line-height: 60px;

            p {
               width: 100%;
               margin: 0;
            }
            .logo-project {
               display: none;
            }
         }
      }
   }
}
