nav.project-nav {
   font-weight: 700;
   vertical-align: top;
   background-color: white;

   a {
      position: relative;

      &:after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 0;
         right: 0;
         height: 5px;
         border-radius: 2.5px;
         background-color: $blue;
         opacity: 0;
         @include transition(opacity 200ms);
      }

      &:hover, &.active {
         color: $blue;
      }
      &.active:after {
         opacity: 1;
      }
   }

   &.fixed {
      position: fixed;
      z-index: 100;
      top: 80px;
   }
}

#projects {
   .projects-container {
      font-size: 0;
      text-align: center;

      .col-4 {
         display: inline-block;
         float: none;
         vertical-align: top;
      }
   }
   .project {
      font-size: $font-size;
      position: relative;
      height: 280px;
      margin-left: auto;
      margin-right: auto;
      background-color: white;
      border: 1px solid $grey-light;
      border-radius: $border-radius;
      margin-top: 40px;
      padding: 20px;

      .next-step {
         width: 100%;
         margin-top: 130px;
         text-align: center;

         .title {
            font-weight: 700;
            margin-bottom: 5px;
         }
         p {
            font-size: 12px;
            margin-bottom: 10px;
         }
      }
      .company {
         display: inline-block;
         position: absolute;
         width: 150px;
         height: 150px;
         border-radius: 50%;
         background-color: $red-dark;
         left: 50%;
         margin-left: -75px;
         margin-top: -40px;

         & > span {
            position: absolute;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            color: white;
            top: 50%;
            left: 50%;
            width: 100%;
            margin-top: 5px;
            padding: 0 20px;
            box-sizing: border-box;
            @include translate(-50%,-50%);

            .strategy-name {
               display: inline-block;
               font-size: 10px;
               line-height: 1.1em;
               opacity: .7;
            }
         }
         &:before {
            content: '';
            border: 2px solid #f9756b;
            position: absolute;
            top: -6px;
            left: -6px;
            right: -6px;
            bottom: -6px;
            border-radius: 50%;
            box-sizing: border-box;
         }
      }
      .progress-bar {
         position: relative;
         width: 100%;
         height: 12px;
         border-radius: $border-radius;
         border: 1px solid $grey-light;
         margin-bottom: 20px;
         box-sizing: border-box;

         span {
            position: relative;
            display: block;
            width: 25%;
            height: 100%;
            float: left;
            border-right: 1px solid $grey-light;
            z-index: 1;
         }
         .fill {
            position: absolute;
            background-color: $red-dark;
            height: 100%;
            left: 0;
            border-radius: $border-radius;
         }
      }

      .button {
         width: 100%;
      }

      &.new {
         text-align: center;
         @include transition(all 200ms);

         .text {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: 10px;
            @include transition(all 200ms);
            @include translate(-50%, -50%);

            .icon-add {
               color: $blue;
               font-size: 35px;
            }
            .new-create {
               color: $blue;
               font-size: 13px;
               font-weight: 700;
               margin-top: 10px;
               margin-bottom: 0;
               text-transform: uppercase;
            }
         }

         &:hover {
            border-color: white;
            box-shadow: $blue-shadow;
            .text {
               opacity: $hover-opacity;
            }
         }
         &.disabled {
            .text { opacity: none; }
            &:hover {
               border-color: $grey-light;
               box-shadow: none;
            }
            .new-create { color: $grey-light; }
            .icon-add { color: $grey-light; }
         }

      }

      .flex {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         height: 100%;
      }
   }
   .new-project {
      &.disabled {
         pointer-events: none;
         cursor: default;
      }
   }
}

#project-edit {
   position: relative;
   .panel {
      padding-top: 0;
   }

   #switch-mandatory {
      float: right;
      cursor: pointer;

      p, .switch {
         float: left;
         margin-bottom: 0;
      }
      p {
         font-size: 12px;
         line-height: 1.2em;
         color: $grey-light;
         width: 120px;
         text-align: right;
         padding-top: 3px;
         margin-right: 20px;
         @include transition(color 200ms);
      }
      .switch {
         position: relative;
         width: 60px;
         height: 34px;
         cursor: pointer;
      }
      .slider {
         position: absolute;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: $grey-light;
         border-radius: 34px;
         @include transition(all 200ms);

         &:before {
            position: absolute;
            content: '';
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 50%;
            @include transition(all 200ms);
         }
      }

      &.active {
         p {
            color: $blue;
         }
         .slider {
            background-color: $blue;
            &:before {
               @include translate(26px, 0);
            }
         }
      }

      &:not(.active):hover {
         p { color: $grey; }
         .slider { background-color: $grey; }
      }
   }

   .table {
      border-collapse: collapse;
      border-spacing: 0;
      text-align: center;
      width: 100%;

      th {
         width: 40%;
         &:last-of-type {
            width: 20%;
         }
      }
      td, th {
         border: 1px solid $grey-light;
         padding: 10px;
      }
   }

   .multiple-items {
      list-style-type: none;

      .item {
         position: relative;
         counter-increment: step-counter;
         padding-left: 40px;

         &:before {
            content: '';
            position: absolute;
            top: 20px;
            left: 27px;
            bottom: 0;
            width: 1px;
            background-color: $blue;
         }

         &:after {
            content: counter(step-counter);
            position: absolute;
            top: -3px;
            left: 16px;
            font-size: 80%;
            font-weight: 700;
            text-align: center;
            color: white;
            width: 25px;
            height: 25px;
            line-height: 26px;
            background-color: $blue;
            border-radius: 50%;
            box-sizing: border-box;
         }

         &:first-of-type {
            padding-bottom: 0;
            .delete { display: none; }
         }
         &:last-of-type:before {
            bottom: 29px;
         }
         &:not(:last-of-type) {
            padding-bottom: 20px;
         }

         .delete {
            position: absolute;
            font-size: 10px;
            text-align: center;
            top: 40px;
            left: 18px;
            background-color: $red-light;
            color: white;
            width: 20px;
            height: 20px;
            line-height: 22px;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;

            .title {
               position: absolute;
               font-size: $font-small;
               background-color: rgba(0,0,0,.75);
               color: white;
               padding: 8px 12px;
               top: 100%;
               left: 50%;
               border-radius: 5px;
               opacity: 0;
               pointer-events: none;
               @include translate(-50%,0);
               @include transition(all 200ms ease-out);

               &:before {
                  content: '';
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 6px 6px 6px;
                  border-color: transparent transparent rgba(0,0,0,.75) transparent;
                  top: -6px;
                  left: 50%;
                  margin-left: -6px;
               }
            }

            &:hover {
               background-color: $red-dark;

               .title {
                  opacity: 1;
                  margin-top: 10px;
               }
            }
         }
      }
   }
   .add-item {
      margin-bottom: 40px;
   }

   .document {
      margin-bottom: 10px;

      a {
         color: $blue;
         text-decoration: underline;
         &:hover { text-decoration: none; }
      }
   }

   .preview { color: $blue; }
   .button-save { margin-bottom: 10px; }

   .summary {
      padding: 20px;
      background-color: white;
      box-shadow: 0 8px 24px rgba(0, 178, 255, 0.2);
      box-sizing: border-box;
      background-color: white;
      width: 180px;
      height: auto;
      top: 200px;
      left: 10px;
      position: fixed;
      &:before {
         position: absolute;
         content: '';
      }
      #summary-project {
         li {
            margin-left: 5px;
            list-style: decimal;
            &:hover {
               color: $blue;
            }
         }
      }
   }

}

#project-view {
   .panel {
      padding-top: 0;
   }
   section {
      position: relative;
      margin-bottom: 20px;

      &:not(.nav-wrapper):not(:last-child):before {
         content: '';
         position: absolute;
         bottom: -10px;
         left: 20px;
         right: 20px;
         height: 1px;
         background-color: $grey-light;
      }
   }

   h2 {
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      color: $blue;
      margin: 25px 0;
   }

   .form-group {
      line-height: 1.6em;
      margin-bottom: 40px;

      label {
         font-size: inherit;
         font-weight: 700;
         color: inherit;
         padding-bottom: 5px;
      }
   }

   .timeline {
      list-style-type: none;
      margin-top: 10px;
      margin-left: 10px;

      .event {
         position: relative;
         counter-increment: step-counter;
         padding-left: 40px;

         &:before {
            content: '';
            position: absolute;
            top: 20px;
            left: 12px;
            bottom: 0;
            width: 1px;
            background-color: $blue;
         }

         &:after {
            content: counter(step-counter);
            position: absolute;
            top: -2px;
            left: 0;
            font-size: 80%;
            font-weight: 700;
            text-align: center;
            color: white;
            width: 25px;
            height: 25px;
            line-height: 26px;
            background-color: $blue;
            border-radius: 50%;
            box-sizing: border-box;
         }

         .event-title {
            font-weight: 700;
            color: $blue;
         }
         .event-date {
            color: $grey;
            font-size: $font-small;
            color: $grey;
            line-height: 1.3em;
            margin-bottom: 10px;
         }

         &:first-of-type {
            padding-bottom: 0;
         }
         &:last-of-type:before {
            bottom: 4px;
         }
         &:not(:last-of-type) {
            padding-bottom: 20px;
         }
      }
   }

   .relationship {
      padding: 15px;
      margin-bottom: 30px;
      border-left: 2px solid $blue;
      box-shadow: $blue-shadow;

      .title {
         font-weight: 700;
      }
      .subtitle {
         color: $grey;
         font-size: $font-small;
         color: $grey;
         line-height: 1.3em;
         margin-bottom: 10px;
      }
      .field:not(:last-child) {
         margin-bottom: 10px;
      }

      &.shareholder {
         min-height: 90px;

         ul {
            list-style-type: disc;
            li { margin-left: 30px; }
         }
      }
   }

   table.table {
      min-width: 300px;

      .missing {
         opacity: .5;
      }
   }

   .files {
      @extend .row;

      .button {
         float: left;
         margin-bottom: 5px;
         margin-right: 5px;
      }
   }
   #annex-view {
      margin-bottom: 40px;

      .form-group {
         display: block;
         font-size: 13px;
         font-weight: 600;
         color: #9ca6ad;
         padding-bottom: 10px;
         margin-bottom: 0;
      }
      label {
         padding-bottom: 10px;
      }
      label.button.small {
         font-size: 10px;
         padding: 10px 20px 7px 20px;
         color: $red-light;
      }
      .file-input input.uploaded + label {
         color: white;
      }
      .file-input input + label:hover {
         background-color: #f9756b;
         color: white;
      }

      .document {
         margin-bottom: 20px;

         .button {
            margin-top: 10px;
         }
      }
   }
}
