#project-steering {
   h2 {
      text-align: center;
      margin-top: 40px;
   }

   #project-timeline {
      margin-bottom: 50px;
   }

   #steps {
      margin: 50px auto 0 auto;

      .step {
         text-align: center;
         margin-bottom: 60px;

         label {
            font-family: 'Nexa';
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
         }

         .slider-wrapper {
            margin-top: 30px;

            .slider {
               max-width: 300px;
               margin: 10px auto;
            }
         }
         .slider-value {
            font-family: 'Nexa';
            font-weight: 700;
            text-transform: lowercase;
         }

         &.step-1 {
            .ui-slider-range { background-color: $color_step1; }
            .ui-slider-handle { border-color: $color_step1; }
            .step-title label, .slider-value { color: $color_step1; }
         }
         &.step-2 {
            .ui-slider-range { background-color: $color_step2; }
            .ui-slider-handle { border-color: $color_step2; }
            .step-title label, .slider-value { color: $color_step2; }
         }
         &.step-3 {
            .ui-slider-range { background-color: $color_step3; }
            .ui-slider-handle { border-color: $color_step3; }
            .step-title label, .slider-value { color: $color_step3; }
         }
         &.step-4 {
            .ui-slider-range { background-color: $color_step4; }
            .ui-slider-handle { border-color: $color_step4; }
            .step-title label, .slider-value { color: $color_step4; }
         }
      }
   }

   .hint {
      margin: 40px auto;
   }

   #requirement-locked {
      h2 { margin-top: 20px; }
      ul {
         list-style: disc;
         padding-left: 30px;
         margin-top: 2px;

         ul {
            list-style: none;
            padding-left: 10px;
            margin-top: 0;

            li:before {
               content: '- ';
               margin-right: 5px;
            }
         }
      }
   }
   .cancel-warning {
      text-align: center;
      color: $red-light;
   }
}

// RECURSIVE LIST
#loi-requirements {
   width: 100%;
   margin: 20px auto;

   .help {
      color: $grey;
      top: 6px;
      margin-left: 8px;

      &-popin {
         padding: 10px 15px;
      }
   }

   label:not(.has-parent) {
      font-weight: 700;
   }
}
