<div class="row">
  <div class="col-lg-6">
    <div class="widget">
      <ul>
        <li *ngFor="let widget of city$ | async">
          {{ city.city }}
        </li>
      </ul>
      <h3>City : {{city}}</h3>
      <h3>Weather : {{weather}}</h3>
      <h3>Temperature : {{temp}}°C</h3>
    </div>
    <div *ngIf="failedToLoad">Weather is not available or the city doesn't exist..!</div>
  </div>
  <div class="col-lg-6">
    <div *ngIf="img == 800 && img">
      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>
    </div>
    <div *ngIf="img > 800">
      <div class="icon cloudy">
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div>
    </div>
    <div *ngIf="img > 199 && img < 234">
      <div class="icon thunder-storm">
        <div class="cloud"></div>
        <div class="lightning">
          <div class="bolt"></div>
          <div class="bolt"></div>
        </div>
      </div>
    </div>
    <div *ngIf="img > 299 && img < 334">
      <div class="icon sun-shower">
        <div class="cloud"></div>
        <div class="sun">
          <div class="rays"></div>
        </div>
        <div class="rain"></div>
      </div>
    </div>
    <div *ngIf="img > 499 && img < 534">
      <div class="icon rainy">
          <div class="cloud"></div>
          <div class="rain"></div>
        </div>
    </div>
    <div *ngIf="img > 599 && img < 634">
      <div class="icon flurries">
          <div class="cloud"></div>
          <div class="snow">
            <div class="flake"></div>
            <div class="flake"></div>
          </div>
        </div>
    </div>
    <div *ngIf="img > 699 && img < 783">
    <div class="icon cloudy">
        <div class="cloud"></div>
        <div class="cloud"></div>
      </div>
      </div>
  </div>
</div>