// SIDEBAR
#sidebar {
	position: fixed;
	width: 21%;
	height: 100%;
	background-color: $grey-dark;
	color: white;
	padding: 0;
	overflow: auto;

   .logo {
      margin-top: 20px;
      margin-bottom: 10px;
   }

	.login {
      font-size: 10px;
		padding: 0 20px;
		margin-bottom: 50px;
	}

	ul {
		li {
			font-size: 12px;
			color: white;
			text-transform: uppercase;
			letter-spacing: .07em;
			transition: all 200ms;

			a {
				display: block;
				color: white;
				text-decoration: none;
				padding: 10px 10px 8px 20px;
				cursor: pointer;

				&:hover {
					background-color: $blue;
				}

				span.count {
					font-size: 10px;
					opacity: .5;
				}
			}
			&.active > a {
				border-right: 8px solid $blue;
			}

			ul {
				margin-bottom: 7px;

				li {
					a {
						font-size: 12px;
						text-transform: none;
						letter-spacing: 0;
						padding: 7px 5px 7px 40px;

						&:hover {
							background-color: transparent;
							opacity: 1;
						}
					}
					&:not(.active) {
						a { opacity: .6; }
						a:hover { opacity: 1; }
					}
					&.active {
						a { border-right: 0; }
					}
				}
			}

			&:not(.active) > ul {
				display: none;
			}

			&.separator {
				margin: 7px 0;
				border-bottom: 1px solid rgba(255,255,255,.1);
			}
		}
	}
}
