// Fonts
$font: 'Open Sans';
$font-size: 13px;
$font-small: 11px;

// Colors
$blue: #00B2FF;
$blue-light: #32C1FF;

$grey: #cacaca;
$grey-light: #f1f2f3;
$grey-dark: #333333;
$grey-hover: #dadada;

$green: #007900;
$green-dark: #007900;

$red: #cc0000;
$red-dark: #8f0000;

$input-border: #cecece;
