/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant

/public/css/**/*.css
/public/js
/public/mix-manifest.json
/public/.htaccess
/public/tmp*

composer.lock
package-lock.json

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log

.env*
.DS_Store

/resources/views/tmp
/database/migrations/tmp
/app/tmp
/tmp

ngrok

push.sh
prod.sh
