

.cards-img-top {
    width: 100%;   
    overflow-x: scroll;     
}

h4 {
    text-align: center;
    color: #2f353a;
    font-weight: 400;
}

.padding{
    background-color:#32CD32;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
}
.paddingImg{
    padding-left: 0px;
    padding-right: 0px;   
}

.content {
    width: 100%;
    height: 300px;
    background-color:white;
}

iframe {
    width: 100%;
    height: 100%;
}