@mixin transition($options) {
   -webkit-transition: $options;
   -moz-transition: $options;
   -o-transition: $options;
   transition: $options;
}

@mixin animation($options) {
   -webkit-animation: $options;
   -moz-animation: $options;
   -o-animation: $options;
   animation: $options;
}

@mixin translate($x, $y) {
   -ms-transform: translate($x, $y);
   -webkit-transform: translate($x, $y);
   transform: translate($x, $y);
}
@mixin scale($x, $y) {
   -ms-transform: scale($x, $y);
   -webkit-transform: scale($x, $y);
   transform: scale($x, $y);
}
@mixin rotate($deg) {
   -ms-transform: rotate($deg);
   -webkit-transform: rotate($deg);
   transform: rotate($deg);
}

@mixin keyframes($name) {
   @-webkit-keyframes #{$name} {
      @content;
   }
   @-moz-keyframes #{$name} {
      @content;
   }
   @keyframes #{$name} {
      @content;
   }
}
