input, textarea {
   font-family: inherit;
   font-size: 13px;
   font-weight: 300;
   border: 1px solid $grey;
   border-radius: 4px;
   padding: 11px 15px;
   margin: 0;
   background-color: white;
   box-sizing: border-box;
   outline: none;
}
input {
   &[type=text], &[type=password], &[type=email], &[type=number], &[type=url], &[type=tel] {
      width: 100%;
      box-shadow: inset 0px 0px 0 100px white;

      &:focus {
         color: $grey-dark;
         border-color: $grey-dark;
      }
      &.small {
         max-width: 80px;
      }

      &[disabled] {
         opacity: $disabled-opacity;
      }
   }
}
textarea {
   width: 100%;
   min-height: 100px;
   resize: vertical;

   &:focus {
      color: $grey-dark;
      border-color: $grey-dark;

      &:-webkit-autofill {
         -webkit-text-fill-color: $grey-dark;
      }
   }

   &.large {
      height: 500px;
   }

   &[disabled] {
      opacity: $disabled-opacity;
   }
}
button, input[type=submit], input[type=button] {
   font-family: inherit;
   font-size: inherit;
   white-space: normal;
   outline: none;
   border: none;
   cursor: pointer;
   -webkit-appearance: none;
   appearance: none;

   &[disabled] {
      background-color: $grey-light !important;
      pointer-events: none;
   }

   &.link {
      font-family: inherit;
      font-size: $font-size;
      font-weight: inherit;
      color: inherit;
      background-color: transparent;
      text-decoration: underline;
      text-transform: none;
      letter-spacing: inherit;
      padding: 0;
      border-radius: 0;

      &:hover {
         text-decoration: none;
      }
   }
}

label {
   display: block;
   font-size: 13px;
   font-weight: 600;
   color: $grey;
   padding-bottom: 10px;

   &.focus, &.focus > .hint {
      color: $grey-dark;
   }

   & + .hint {
      display: block;
      font-size: 11px;
      color: $grey;
      line-height: 1.2em;
      margin-top: -10px;
      margin-bottom: 12px;

      ul {

      }
      li {
         line-height: inherit;
         padding-left: 10px;

         &:before {
            content: '- ';
            margin-right: 3px;
         }
      }
   }

   .help {
      position: absolute;
      top: 3px;
      margin-left: 15px;
      opacity: .65;
      cursor: pointer;
      padding-right: 20px;
      &:hover {
         opacity: 1;
      }
   }
}

::-webkit-input-placeholder { color: $grey-light; }
::-moz-placeholder { color: $grey-light; }
:-ms-input-placeholder { color: $grey-light; }
:-moz-placeholder { color: $grey-light; }

.form-group {
   position: relative;
   text-align: left;
   margin-bottom: 25px;

   &.required {
      & > label:after {
         content: ' *';
         color: $red-light;
      }
   }
   &.advised {
      label:after {
         content: ' *';
         color: $blue;
      }
   }

   &.has-error {
      &, label {
         color: $red-light;
      }
      input, textarea, .checkmark, .checkmark:after {
         border-color: $red-light;
      }
      .form-error {
         display: block;
      }

      .checkbox .form-error {
         left: 40px;
      }
   }

   .form-error {
      display: none;
      position: absolute;
      font-size: $font-small;
      color: white;
      padding: 8px 12px;
      background-color: $blue;
      top: calc(100% + 10px);
      left: 0;
      border-radius: 5px;
      z-index: 1;
      opacity: 0;
      pointer-events: none;
      @include transition(all 200ms ease-out);

      &:before {
         content: '';
         position: absolute;
         width: 0;
         height: 0;
         border-style: solid;
         border-width: 0 6px 6px 6px;
         border-color: transparent transparent $blue transparent;
         top: -6px;
         left: 10px;
      }
   }

   &.focus {
      label {
         color: $grey-dark;
      }
   }

   &:hover .form-error {
      margin-top: -5px;
      opacity: 1;
   }
}

button, input[type=submit], input[type=button], .button {
   display: inline-block;
   white-space: normal;
   font-family: 'Nexa';
   font-size: $font-small;
   font-weight: 700;
   color: white;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   line-height: 1.5em;
   letter-spacing: .08em;
   padding: 15px 25px 12px 25px;
   border-radius: 8px;
   box-sizing: border-box;
   outline: none;
   cursor: pointer;
   @include transition(all 200ms ease-out);

   &.blue {
      background-color: $blue;

      &:hover {
         background-color: $blue-light;
         box-shadow: $blue-shadow;
      }
   }
   &.red {
      background-color: $red-light;

      &:hover {
         background-color: $red;
         box-shadow: $blue-shadow;
      }
   }
   &.grey, &.disabled {
      background-color: $grey-light;

      &:hover {
         background-color: $grey;
         box-shadow: $blue-shadow;
      }
   }

   &.disabled {
      pointer-events: none;
   }

   &.delete {
      background-color: transparent;
      font-weight: 400;
      text-transform: none;
      font-family: 'Open Sans';
      color: $grey-light;
      padding-left: 0;

      &:hover {
         color: $blue;
      }
   }
   &.blue-border {
      border: 1px solid $blue;
      color: $blue;

      &:hover {
         color: $blue-light;
         border-color: $blue-light;
      }
   }

   &.small {
      font-size: 10px;
      padding: 10px 20px 7px 20px;
   }

   &.round {
      text-transform: none;
      border-radius: 40px;
      padding: 12px 30px 8px 30px;
   }

   &.full-width {
      display: block;
      width: 100%;
   }
}

.radio-button {
   position: relative;
   font-family: 'Nexa';
   font-size: $font-small;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   letter-spacing: .08em;
   @include transition(all 100ms ease-out);

   input {
      display: none;
   }
   label {
      margin-bottom: 0;
      padding: 15px 15px 12px 15px;
      border: 1px solid $grey;
      border-radius: 8px;
      cursor: pointer;
      @include transition(all 100ms ease-out);
   }

   .checkmark {
      position: absolute;
      top: 12px;
      right: 14px;
      width: 24px;
      height: 24px;
      border: 1px solid $grey;
      border-radius: 50%;
      box-sizing: border-box;
      pointer-events: none;

      &:after {
         content: '';
         position: absolute;
         width: 5px;
         height: 12px;
         top: 13px;
         left: 4px;
         border-right: 1px solid $red-light;
         border-top: 1px solid $red-light;
         opacity: 0;
         transform-origin: left top;
      }
   }

   input:checked + label {
      background-color: $red-light;
      border-color: $red-light;
      color: white;

      & + .checkmark {
         border-color: white;

         &:after {
            opacity: 1;
            border-color: white;
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
         }
      }
   }

   &:hover {
      label {
         color: $red-light;
         border-color: $red-light;
      }
      .checkmark {
         border-color: $red-light;
      }
   }
}

.checkbox {
   position: relative;
   margin-bottom: 10px;

   input[type=radio], input[type=checkbox] {
      display: none;
   }
   input:checked + label {
      color: $blue;
   }

   & > label {
      padding-top: 1px;
      padding-left: 40px;
      cursor: pointer;
   }

   .checkmark {
      display: block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $grey;
      border-radius: 50%;
      box-sizing: border-box;
      pointer-events: none;

      &:after {
         content: '';
         position: absolute;
         width: 5px;
         height: 12px;
         top: 13px;
         left: 4px;
         border-right: 1px solid $red-light;
         border-top: 1px solid $red-light;
         opacity: 0;
         transform-origin: left top;
      }
   }

   input:checked + label {
      & + .checkmark {
         border-color: $blue;

         &:after {
            opacity: 1;
            border-color: $blue;
            animation-duration: 500ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
         }
      }
   }

   &.with-input {
      .related-inputs {
         display: none;
         margin-top: 5px;
         margin-left: 20px;
         &.nda {
            margin-left: 0;
         }
      }
   }

   &.inline {
      display: inline-block;
      margin-right: 20px;
   }

   &.centered {
      text-align: center;

      label {
         padding-top: 35px;
         padding-left: 0;
      }

      .checkmark {
         top: 0;
         left: 50%;
         margin-left: -12px;
      }
   }

   &[disabled] + label {
      pointer-events: none;
   }
}
.unit-input {
   .unit-separator {
      padding: 0 20px;

      &:first-of-type {
         padding-left: 0;
      }
   }
   input {
      max-width: 130px;
      text-align: right;
   }
   .unit {
      padding-left: 7px;
      text-transform: uppercase;
   }
}

// File input
.file-input {
   position: relative;
   display: inline-block;
   line-height: 0;
   vertical-align: top;
   margin-bottom: 10px;
   margin-right: 10px;
   border-radius: 8px;
   overflow: hidden;

   input {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      & + label {
         color: $red-light;
         border: 2px solid $red-light;
         @include transition(none);

         &:hover {
            background-color: $red-light;
            color: white;
         }
      }

      &.uploaded {
         pointer-events: none;

         & + label {
            background-color: $red-light;
            color: white;
            padding-right: 30px;
            max-width: 180px;
            display: inherit;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 12px;
            white-space: nowrap;

            & + .delete-file {
               display: block;
            }
         }
      }
   }

   .delete-file {
      display: none;
      position: absolute;
      font-size: 9px;
      background-color: $red-light;
      color: white;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 14px 10px;
      cursor: pointer;

      &:hover {
         background-color: $red;
      }
   }

   .progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      background: rgba(0,0,0,.3);
   }
}

.characters-count {
   font-size: 12px;
   color: $grey;
   text-align: right;

   &.warning {
      color: $red-light;
   }
}


// Success and error messages
section.message {
   position: relative;
   font-size: $font-small;
   color: white;
   padding: 15px 20px;
   margin-bottom: 40px;
   border-radius: $border-radius;
   box-shadow: $blue-shadow;

   p {
      margin: 0;
   }

   .icon-cross {
      position: absolute;
      font-size: 12px;
      top: 19px;
      right: 20px;
      cursor: pointer;
   }

   &.success-message {
      background-color: $blue;
   }
   &.error-message {
      background-color: $red;
   }
}

form.inline {
   display: inline-block;
}



// DATEPICKER
#ui-datepicker-div {
   display: none;
   z-index: 1000 !important;
}
.ui-datepicker {
   background-color: white;
   box-shadow: $blue-shadow;
   border-radius: 4px;
   padding: 10px 15px;

   .ui-datepicker-title select {
      width: 40%;
      height: auto;
      border: none;
      background-color: transparent;
   }

   .ui-datepicker-header {
      padding: 8px 10px 12px 10px;
   }

   .ui-datepicker-prev, .ui-datepicker-next {
      font-family: 'icons';
      font-size: 11px;
      text-decoration: none;
      position: absolute;
      cursor: pointer;
      top: 19px;

      &:hover {
         color: $blue;
      }

      span {
         display: none;
      }
   }
   .ui-datepicker-prev {
      left: 12px;
      &:before {
         content: '\e901';
      }
   }
   .ui-datepicker-next {
      right: 12px;
      &:before {
         content: '\e903';
      }
   }
   .ui-datepicker-title {
      text-align: center;
   }

   .ui-datepicker-calendar {
      thead {
         font-size: 10px;
         color: black;
      }
      th {
         padding: 5px 0;
      }
      td {
         font-size: 12px;
         text-align: center;

         &.ui-datepicker-today a {
            font-weight: 700;
            color: $blue;
         }

         a {
            display: block;
            color: black;
            text-decoration: none;
            padding: 3px 6px 2px 6px;
            border-radius: 50%;

            &:hover {
               color: white;
               background: $blue;
            }
         }
      }
   }
}

// SLIDER
.ui-slider {
   position: relative;
   background-color: $grey-light;
   height: 10px;
   border-radius: 5px;
   border: 3px solid white;
   box-sizing: border-box;

   .ui-slider-handle {
      position: absolute;
      top: -8px;
      width: 20px;
      height: 20px;
      background-color: white;
      border: 5px solid $grey;
      border-radius: 50%;
      margin-left: -10px;
      box-sizing: border-box;
      z-index: 2;
      cursor: pointer;
      @include transition(all 100ms);

      &:hover {
         @include scale(1.2,1.2);
      }
   }
   .ui-slider-range {
      background-color: $grey;
      height: 10px;
      border-radius: 5px;
      margin-top: -3px;
   }
}


@include keyframes(checkmark) {
   0% {
      width: 0;
      height: 0;
      opacity: 1;
   }
   20% {
      width: 5px;
      height: 0;
      opacity: 1;
   }
   40% {
      width: 5px;
      height: 12px;
      opacity: 1;
   }
   100% {
      width: 5px;
      height: 12px;
      opacity: 1;
   }
}
@include keyframes(checkmark_small) {
   0% {
      width: 0;
      height: 0;
      opacity: 1;
   }
   20% {
      width: 2px;
      height: 0;
      opacity: 1;
   }
   40% {
      width: 2px;
      height: 6px;
      opacity: 1;
   }
   100% {
      width: 2px;
      height: 6px;
      opacity: 1;
   }
}

// RECURSIVE LIST
.recursive-list {
   width: 100%;

   &.framed {
      max-height: 400px;
      overflow-y: scroll;
      border: 1px solid $grey-light;
      border-radius: 5px;

      li {
         label {
            display: inline-block;
            border-top: 1px solid $grey-light;
            padding: 8px 14px 8px 35px;
         }
         ul {
            display: none;
         }
      }

      .checkmark {
         &:before { top: 7px; }
         &:after { top: 16px; }
      }

      .toggle-list {
         display: block;
         position: absolute;
         top: 6px;
         right: 10px;
         padding: 5px;
         cursor: pointer;
         @include transition(all 200ms);

         &:hover {
            opacity: .5;
         }

         &.open {
            @include rotate(90deg);
         }
      }
   }

   li {
      position: relative;

      label {
         display: inline-block;
         font-weight: inherit;
         color: inherit;
         padding: 3px 14px 3px 25px;
         margin-bottom: 0;

         cursor: pointer;

         &:hover {
            color: $blue;
         }
      }
      input[type=checkbox] {
         display: none;

         &:checked + label {
            color: $blue;

            & + .checkmark:before {
               border-color: $blue;
            }

            & + .checkmark:after {
               opacity: 1;
               border-color: $blue;
               animation-duration: 500ms;
               animation-timing-function: ease;
               animation-name: checkmark_small;
               transform: scaleX(-1) rotate(135deg);
            }
         }
         &:indeterminate + label {
            & + .checkmark:before {
               border-color: $grey;
            }

            & + .checkmark:after {
               opacity: 1;
               animation-duration: 500ms;
               animation-timing-function: ease;
               animation-name: checkmark_small;
               transform: scaleX(-1) rotate(135deg);
            }
         }
      }

      ul {
         padding-left: 25px;
      }
   }

   & > li:first-child > label {
      border-top: 0;
   }

   .toggle-list {
      display: none;
   }

   .checkmark {
      display: block;
      position: absolute;
      top: 5px;
      left: -5px;

      &:before {
         content: '';
         border: 1px solid $grey-light;
         display: block;
         width: 13px;
         height: 13px;
         top: 1px;
         left: 5px;
         position: absolute;
         border-radius: 50%;
         pointer-events: none;
      }
      &:after {
         content: '';
         position: absolute;
         width: 2px;
         height: 6px;
         top: 10px;
         left: 9px;
         border-right: 1px solid $grey;
         border-top: 1px solid $grey;
         opacity: 0;
         transform-origin: left top;
      }
   }
}

// AUTOCOMPLETION LIST
.autocomplete {
   position: relative;

   .reset {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 15px;
      color: $grey;
      cursor: pointer;
      z-index: 1;

      &:hover {
         color: $grey-dark;
      }
   }

   ul {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background-color: white;
      border: 1px solid $grey-light;
      border-radius: 4px;
      z-index: 1;

      li {
         padding: 11px 15px;
         cursor: pointer;

         span.option {
            opacity: .5;
         }

         &:hover {
            background-color: $grey-light;
         }
      }
   }
}


// TEL INPUT
.intl-tel-input {
   display: block;

   .country-list {
      border-radius: 4px;
      box-shadow: none;
      border-color: $grey;
      margin-top: 4px;

      .country {
         &.highlight {
            background-color: $grey-light;
         }
      }
   }
}
.iti-flag {
   background-image: url(/img/flags.png);

   @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      .iti-flag {
         background-image: url("/img/flags@2x.png");
      }
   }
}


// TINYMCE
.mce-tinymce {
   border: 1px solid $grey !important;
   box-shadow: none !important;
   border-radius: 4px;
   box-sizing: border-box !important;

   .mce-top-part {
      padding: 3px;

      &:before {
         background-color: #efefef;
         border-bottom: 1px solid $grey;
         border-top-left-radius: 4px;
         border-top-right-radius: 4px;
         box-shadow: none !important;
      }
   }
   .mce-container, .mce-container-body {
      border: 0 !important;
   }
   .mce-btn, .mce-btn:hover {
      background: transparent;
   }
   iframe {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
   }
}


.help-popin {
   display: none;
   position: absolute;
   font-size: 12px;
   background: white;
   top: 0;
   left: 100%;
   width: 450px;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(0,0,0,.05);
   z-index: 10;

   &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      border-radius: 5px;
      box-shadow: 0 0 50px rgba(0,0,0,.1);
   }
}
