.popup-container {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: rgba(0,0,0,.92);
   z-index: 99999;
   overflow: auto;

   .popup {
      position: relative;
      width: 100%;
      max-width: 580px;
      margin: -50px auto 50px auto;
      margin: 0 auto;
      background-color: white;
      padding: 40px;
      border-radius: 8px;
      box-sizing: border-box;
      box-shadow: 0 10px 20px rgba(0,0,0,.6);
      opacity: 0;
      @include transition(all 300ms ease-out);

      &.visible {
         opacity: 1;
         margin-top: 50px;
      }

      &.large {
         max-width: 980px;
      }

      .title {
         font-size: 20px;
         font-weight: 300;
         text-align: center;
         line-height: 1.2em;
         margin-bottom: 40px;
      }

      .close {
         position: absolute;
         font-size: 12px;
         top: 20px;
         right: 20px;
         cursor: pointer;

         &:hover {
            opacity: .65;
         }
      }

      h2, h3, h4 {
         text-align: left;
         margin-bottom: 20px;
      }
      h3 {
         font-size: 18px;
      }

      section:not(:last-child) {
         margin-bottom: 20px;
      }

      .bottom-text {
         font-size: $font-small;
         margin-top: 30px;
      }

      &.has-bottom-text {
         padding-bottom: 20px;
      }
   }

   @media screen and (max-width: 500px) {
      .popup {
         width: 96%;
         top: 100px;
         left: 2%;
         margin-left: 0;
         padding: 50px 20px 20px 20px;

         &.large {
            padding: 20px;
         }
      }
   }
}

#session-popup {
   .popup {
      text-align: center;

      p:last-of-type {
         margin-bottom: 0;
      }
   }
}

#newsletter-popup {
   .newsletter-form input[type=email] {
      border: 1px solid $grey-light;
      border-right: 0;
   }
}
