<div class="widget">
  <form [formGroup]="form" (ngSubmit)="updateCity()">
    <div class="input-prepend input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <input class="form-control" id="prependedInput" size="16" type="text" placeholder="Paris" formControlName="city">
      <span class="input-group-append">
        <button class="btn btn-info" type="submit">Search city</button>
      </span>
    </div>
  </form>
</div>
