<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

  <app-header></app-header>

  <div class="app-body">
    <app-sidebar></app-sidebar>

    <main class="main">

      <div class="container-fluid">
        <div class="animated fadeIn">

          <div class="row">

            <div class="col-sm-6 col-lg-6" *ngIf="isActiveWeather == 1">
              <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                  <div class="btn-group float-right">
                    <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="desactivateWeather()">Desactiver</a>
                    </div>
                  </div>
                  <app-weather-setting (update)="onCityUpdated($event)"></app-weather-setting>
                  <app-weather-city></app-weather-city>
                </div>
              </div>
            </div>

            <!--<div class="col-lg-6">
              <div class="brand-card">
                <div class="card-header">benoit.tabry@gmail.com
                  <div class="btn-group float-right">
                    <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="color:black;">
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="desactivateMap()">Desactiver</a>
                    </div>
                  </div>
                </div>
                <div class="brand-card-header bg-google-plus">
                  <i class="fa fa-google-plus"></i>
                  <div class="chart-wrapper">
                    <canvas id="social-box-chart-4" height="90"></canvas>
                  </div>
                </div>
                <div class="brand-card-body">
                  <div>
                    <div class="text-value">84</div>
                    <div class="text-uppercase text-muted small">followers</div>
                  </div>
                  <div>
                    <div class="text-value">22</div>
                    <div class="text-uppercase text-muted small">Messages</div>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-sm-6 col-lg-6" *ngIf="isActiveMap == 1">
              <div class="card">
                <div class="card-header">Google Map
                  <div class="btn-group float-right">
                    <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="color:black;">
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="desactivateMap()">Desactiver</a>
                    </div>
                  </div>
                </div>
                <app-map></app-map>
              </div>
            </div>

            <div class="col-md-6" *ngIf="isActiveCalendar == 1">
              <div class="card">
                <div class="card-header">Calendar
                  <div class="btn-group float-right">
                    <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="color:black;">
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="desactivateCalendar()">Desactiver</a>
                    </div>
                  </div>
                </div>
                <app-calendar></app-calendar>
              </div>
            </div>

            <div class="col-md-6" *ngIf="isActiveNews == 1">
              <div class="card">
                <div class="card-header">News
                  <div class="btn-group float-right">
                    <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" style="color:black;">
                      <i class="icon-settings"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" (click)="desactivateNews()">Desactiver</a>
                    </div>
                  </div>
                </div>
                <app-news></app-news>
              </div>
            </div>

          </div>
        </div>
      </div>
    </main>


  </div>

  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
  <script src="node_modules/@coreui/coreui/dist/js/coreui.min.js"></script>
  <script src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script src="node_modules/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
  <script src="asset/main.js"></script>

</body>