@font-face {
   font-family: 'icons';
   src:  url('/css/front/fonts/icons/icons.eot?hhhjv1');
   src:  url('/css/front/fonts/icons/icons.eot?hhhjv1#iefix') format('embedded-opentype'),
   url('/css/front/fonts/icons/icons.ttf?hhhjv1') format('truetype'),
   url('/css/front/fonts/icons/icons.woff?hhhjv1') format('woff'),
   url('/css/front/fonts/icons/icons.svg?hhhjv1#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icons' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-help:before {
  content: "\e91a";
}
.icon-document:before {
  content: "\e919";
}
.icon-arrow-bottom:before {
  content: "\e915";
}
.icon-arrow-left:before {
  content: "\e916";
}
.icon-arrow-right:before {
  content: "\e917";
}
.icon-arrow-top:before {
  content: "\e918";
}
.icon-attachment:before {
  content: "\e914";
}
.icon-dot:before {
  content: "\e913";
}
.icon-add:before {
  content: "\e912";
}
.icon-download:before {
  content: "\e90a";
}
.icon-cross:before {
  content: "\e909";
}
.icon-logout:before {
  content: "\e907";
}
.icon-notification:before {
  content: "\e908";
}
.icon-chevron-top:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-bottom:before {
  content: "\e902";
}
.icon-chevron-right:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-linkedin:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-googleplus:before {
  content: "\e90c";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-viadeo:before {
  content: "\e90e";
}
.icon-youtube:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e910";
}
.icon-metro:before {
  content: "\e911";
}
