.sweet-overlay {
   background-color: rgba(0,0,0,.92);
}

.sweet-alert {
   padding: 30px;

   h2 {
      text-align: center !important;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
   }

   p {
      font-size: inherit !important;
      font-weight: 400 !important;
      line-height: 1.5em !important;
   }

   .sa-button-container {
      button {
         @extend .button;
         padding-top: 10px !important;
         padding-bottom: 7px !important;
      }
      button.confirm {
         @extend .button.blue;
      }
      button.cancel {
         @extend .button.grey;
      }
   }

   .sa-icon {
      display: none !important;
   }
   // .sa-icon {
   //    width: 50px;
   //    height: 50px;
   //    border: 3px solid gray;
   //    border-radius: 40px;
   //    border-radius: 50%;
   //    margin: 20px auto;
   //    padding: 0;
   //    position: relative;
   //    box-sizing: content-box;
   //
   //    &.sa-warning {
   //       border-color: $orange !important;
   //
   //       .sa-dot {
   //          position: absolute;
   //          width: 5px;
   //          height: 5px;
   //          border-radius: 50%;
   //          margin-left: -2px;
   //          left: 50%;
   //          bottom: 9px;
   //          background-color: $orange !important;
   //       }
   //
   //       .sa-body {
   //          position: absolute;
   //          width: 4px;
   //          height: 22px;
   //          left: 50%;
   //          top: 10px;
   //          border-radius: 2px;
   //          margin-left: -2px;
   //          background-color: $orange !important;
   //       }
   //    }
   // }
}
