// Fonts
$font: 'Open Sans';
$font-size: 14px;
$font-small: 12px;

// Colors
$font-color: #252b33;
$font-color-light: #556070;

$blue: #00b2ff;
$blue-light: #00e0ff;
$blue-marine: #0080B7;
$blue-dark: #242b35;

$orange: #fcba30;
$orange-light: #ffb982;

$red: #ba4542;
$red-light: #f9756b;
$red-dark: #e65065;

$green: #00b700;

$grey: #9ca6ad;
$grey-light: #d1d7db;
$grey-ultralight: #f2f3f4;
$grey-dark: #252b33;
$grey-hover: #536071;
$grey-icons: #e1e7eb;

$hover-opacity: 0.65;
$disabled-opacity: 0.6;

// Steps color code
$color_step1: #00b2ff;
$color_step2: #009de0;
$color_step3: #0081b8;
$color_step4: #00648f;

// Common styles
$blue-shadow: 0 8px 24px rgba(0,178,255,.2);
$border-radius: 10px;
