#help {
   h2 {
      text-align: left;
   }
   h3 {
      text-align: left;
      margin-bottom: 20px;
   }
   ol {
      position: relative;

      .item {
         counter-increment: step-counter;
         padding: 10px 20px 20px 45px;
         margin-bottom: 40px;
         border-left: 2px solid $blue;
         background-color: white;
         box-shadow: 0 2px 5px rgba(0,0,0,.1);

         &:before {
            content: counter(step-counter) '.';
            position: absolute;
            left: 20px;
            font-weight: 700;
         }
      }
   }

   .question {
      font-weight: 700;
      margin-bottom: 5px;
   }
   .answer {
      p, ul {
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   p {
      margin-bottom: 5px;
   }
   ul {
      list-style: disc;
      padding-left: 40px;
      margin-bottom: 20px;
   }

   .faq-container {
      position: relative;

      section {
         padding-top: 0;
         padding-bottom: 20px;
      }
   }

   .col-summary {
      float: right;
   }
   #faq-summary {
      padding: 20px;
      background-color: white;
      box-shadow: $blue-shadow;
      box-sizing: border-box;

      li {
         cursor: pointer;
         padding: 3px 0;

         &:hover { color: $blue; }
      }

      &.fixed {
         position: fixed;
      }
   }

   .panel .container {
      padding: 0;
   }

   @media screen and (max-width: 1024px) {
      .col-summary {
         float: left;
      }
      #faq-summary {
         margin-bottom: 50px;

         &.fixed {
            position: relative !important;
            width: auto !important;
            top: auto !important;
            left: auto !important;
         }
      }
   }
}
