#terms {
   h1 {
      font-size: 30px;
      letter-spacing: 0.30em;
   }
   h3 {
      text-align: left;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
   }

   .intro {
      font-weight: 400;
      text-align: left;
      margin-bottom: 50px;
      max-width: none;
   }

   article {
      margin-bottom: 40px;

      p {
         margin-bottom: 0;
         margin-top: 20px;
      }

      p, ul, ol {
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   ul {
      list-style-type: disc;

      li {
         margin-left: 30px;
      }
   }

   ol {
      list-style-type: decimal;

      & > li {
         margin-left: 20px;
         padding-left: 10px;
         margin-bottom: 20px;
      }
   }
}
